@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(252, 244, 244);

}
h1 {
    color: hsla(147, 12%, 15%, 0.753);
    font-size: 22px;
    align-content: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: hsla(147, 12%, 15%, 0.753);
    font-size: 21px;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .imagenInicio
    {
        visibility: hidden;
    }
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}

/*h2{
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    color:rgb(77, 73, 73);
}*/
.hero .caja h2
{
    display: flex;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding: 45px 50px 45px 50px;
    /*color:rgb(77, 73, 73);*/
    color: #f3f3f3;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.hero .imagenInicio
{
    max-width: 100%;
    border:30px solid transparent;
    /*clip-path: circle(65% at center);*/
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    

}
.volver-inicio
{
    align-content: center;
    font-size: 21px;
    color: rgba(10, 11, 11, 0.89);
    text-align: center;
    
}
nav a{
    color: rgba(10, 11, 11, 0.89);
    text-decoration: none;
    width: 90px;
    text-align: center;
}
nav a:hover{
    color: rgb(87, 57, 91);
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
    padding: 5px;
    font-weight: bolder;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 5vh;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 3px 7px rgb(37, 37, 37);
} 
/*nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}*/
.hero {
    display: flex;   
}
.imagenInicio{
    margin-left: 3vw;
    margin-top: 3vh; 
    margin-right: 2vw;
    border-radius: 5px;
    
}
.caja{
    background-color: rgba(113, 63, 194, 0.713);
    border-radius: 5px;
    width: 30vw;
    height: 60vh;
    margin-top: 7vh;
    margin-left: 2vw;
    padding: 2vh 2vw;
    word-spacing: 2px;
    box-shadow: 0px 5px 5px rgb(54, 54, 54);
    
}
.laEmpresa h2{
    color: hsla(147, 12%, 15%, 0.753);
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.laEmpresa{
    margin-left: 2vw;
    margin-right: 2vw;
}
/*footer a{
    color: rgb(41, 39, 42);
    text-decoration: none;
    display: flex;
    margin-top: 90vh;
    margin-bottom: 20vh;
    justify-content: center;
}*/
h1 {
    animation-duration: 5s;
    animation-name: slidein;
  }
 @keyframes slidein {
    from {
      margin-left: 0%;
      width: 20%
    }
    to {
      margin-left: 15%;
      width: 20%;
    }
    25% {
        font-size: 150%;
        margin-left: 25%;
        width: 150%;
      }
  }

@media screen and (max-width:620px){
    header h2{
        font-size: 20px;
    }
    .hero .caja h2
    {
        font-size: 15px;
    }
    .hero .imagenInicio
    {
        width: 250px;
        height: 350px;
        align-content: center;
        flex-direction: column;
    }
    
}

  main{     
    padding: 4vh 9vw; 
    display: flex;     
    flex-direction: column;     
    align-items: center;     
    gap: 10vh; 
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
}
main h1
{
    text-align: center;
    color: rgba(126, 93, 170, 0.87);
}
form{     
   background: #fff;
   padding: 40px 0;
   box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
   border-radius: 10px;
}
.form
{
    width: 100%;
    margin: auto;
} 
form .inputContainer{     
   position: relative;
   margin: 45px;
}

textarea
{
    display: block;
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    
}
textarea:focus
{
    outline: none;
    color: dimgrey;
}
input
{
    background-color: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}
input:focus
{
    outline: none;
    color: dimgrey;
}
label
{
    color: var(--colorTextos);
    font-size: 16px;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}
input:focus label
{
    top: -14px;
    font-size: 12px;
    color: rgba(126, 93, 170, 0.87);
} 
form .inputContainer input
{     
        padding: 10px;     
        border: none;     
        border-bottom: 1px solid rgba(78, 76, 82, 0.479);        
} 
.register-btn{  
        background-color: rgb(90, 80, 80);       
        border: none; 
        display: block;
        /*width: 80px;    
        margin: 10px auto;*/
        color: rgb(255, 251, 251);     
        height: 40px; 
        cursor: pointer;
        font-size: 16px;
        
           
        /*border: 0.5px rgb(43, 41, 41) solid;*/
} 
.register-btn:hover
{     
        transition: 1s ease-in-out;     
        background-color: white;     
        color: rgba(124, 61, 196, 0.418);     
        border: 0.5px rgb(56, 53, 53) solid; 
}
.card-usuario
{
 display: flex;
 align-items: center;
 gap: 5vw;
 width: 100%;
 border-radius: 5px;
 background-color: rgb(44, 43, 43);
 color: white;
 padding: 10px;
 border: 1px black solid;
}
.card-usuario:hover
{
    transition: 1s ease-in-out;
    background-color: white;
    color: black;
    border: 1px black solid;
}
.contenedorUsuarios
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #c4bebe;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
   
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: rgba(126, 93, 170, 0.87);
}

.footer-bottom{
    background: rgba(126, 93, 170, 0.87);
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.container
{
    width: 100%;
    max-width: 1200px;
   /* height: 430px;*/
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.container .card
{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25;

}
.container .card:hover
{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.container .card img
{
    width: 330px;
    height: 220px;
}

.container .card h4
{
    font-weight: 600;
}
.container .card a
{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
.container2
{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    border: none;
}
.container2 .card3:hover
{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.container2 img
{
    width: 330px;
    height: 220px;
}

.warnings
{
    width: 200px;
    text-align: center;
    margin: auto;
    color:crimson;
    padding-top: 20px;
}
.card3
{   
    border: none;
    width: 330px;
    height: 530px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25;
}
.card-info 
{
    font-size: 19px;
    color: rgba(126, 93, 170, 0.87);
    
}
.card-info h3
{
    font-size: 19px;
    color:black;
    
}


